body {

}
.retrait {
	margin-left:1em;
}

.retrait1 {
	margin-left:1.5em;
}

.bold
{
	font-weight: bold;	
}

.details-level1{
	color: rgb(65, 65, 65);
	font-weight: bold;
}

.details-level2{
	color: black;
}